streamlit==1.56.0

PyPDF2==3.0.1
pypdf==6.10.2

langchain==1.2.15
langchain-community==0.4.1
langchain-core==1.2.31
langchain-text-splitters==1.1.2
langchain-groq==1.1.2

faiss-cpu==1.13.2

sentence-transformers==5.4.1
transformers==5.5.4
torch==2.11.0

numpy==2.2.6
scikit-learn==1.7.2

python-dotenv==1.2.2